<div class="container mb-5">
  <div class="row mt-3">
    <div class="col col-md-10 mx-auto">
      <h3 class="mb-3 text-center">Speech to text</h3>
      <h5 class="mb-3 ml-3 text-center">Say something about dog...</h5>
      <div class="app my-3">
        <button class="btn btn-primary record-btn mr-3 btn-lg btn-block">record</button>
      </div>
      <audio class="audio-player mx-auto" controls></audio>
      <div class="row mt-4">
        <div class="col mx-auto justify-content-center">
          <div class="card catpic" style="width: 18rem;">
            <img src="https://fakeimg.pl/300/" class="card-img-top dogpic" alt="...">
            <div class="card-body">
              <p class="card-text topic">
                等你說話......
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>